

h1 {
  color: red;
}

p {
  color: blue;
}

/*? RGB Colors: RGB (Red, Green, Blue) values allow you to define colors by specifying the amount of red, green, and blue in the color. */

h1 {
  color: red;
  color: rgb(255, 0, 0);
}

p {
  color: blue;
  color: rgb(0, 0, 255);
}



h1 {
  color: rgba(255, 0, 0, 1);
}

p {
  color: rgba(0, 0, 255, 0.5);
}

/*? Hexadecimal Colors: You can specify colors using hexadecimal values. */

h1 {
  color: #ff0000;
}

p {
  color: #ccc;
}

/*? HSL Colors: HSL (Hue, Saturation, Lightness) values provide a way to specify colors based on their hue, saturation, and lightness. */
h1 {
  color: hsla(15, 100%, 50%, 0.944);
}

p {
  color: hsl(226, 84%, 17%);
}

/*? HSLA Colors: Similar to HSL, HSLA includes an alpha channel for opacity control. */

h1 {
  color: hsl(0, 100%, 50%, 0.5);
}

p {
  color: hsl(226, 84%, 17%, 0.8);
}


.hero-section {
  color: rgb(17, 104, 212);
}

p {
  color: currentColor;
}
